@layer components {
  .hero {
    position: relative;
    isolation: isolate;
    overflow: hidden;
    min-height: 314px;
    display: grid;
    align-items: center;
    text-align: center;
    color: white;
    background: #30454c;
  }
  .hero--home {
    min-height: 646px;
  }
  .hero__background {
    position: absolute;
    inset: 0;
    z-index: -2;
  }
  .hero__background img,
  .hero__background video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: #172b344a;
    z-index: -1;
  }
  .hero__content {
    padding-block: 80px;
  }
  .hero h1 {
    font-size: 32px;
    margin-bottom: 14px;
  }
  .hero p {
    max-width: 780px;
    margin-inline: auto;
  }
  .hero__pause {
    position: absolute;
    bottom: 16px;
    right: 20px;
    width: 44px;
    height: 44px;
    color: white;
    border: 1px solid white;
    background: #0008;
  }
}
