@layer components {
  .home__product-intro {
    text-align: center;
    max-width: 680px;
    margin: 0 auto 32px;
    font-size: 22px;
  }
  .home__product {
    width: 100%;
    margin: auto;
  }
  .home__order {
    text-align: center;
    margin-block: 32px 70px;
  }
  .home__features {
    display: grid;
    grid-template-columns: 1fr;
    gap: 28px;
    max-width: 725px;
  }

  .home__innovation {
    text-align: center;
  }
  .home__innovation img {
    width: 542px;
    height: 512px;
    object-fit: cover;
    margin: 0 auto 38px;
  }
  .home__innovation h2,
  .home__innovation p {
    max-width: 500px;
    margin-inline: auto;
  }
}
