@layer components {
  .product-title {
    position: relative;
    max-width: 700px;
    margin: 0 auto 28px;
  }
  .product-title__art {
    position: relative;
    aspect-ratio: 1000/220;
    overflow: hidden;
  }
  .product-title__art img,
  .product-title__art video,
  .product-title__art svg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .product-title__play {
    width: 44px;
    height: 44px;
    border: 0;
    background: white;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
